.homepageBlock{
    margin-top: 20px;
    margin-bottom: 80px;
}

.keynote{
    img {
        max-width: 100%;
    }

    .row{
        margin-bottom: 40px;
    }
}

.sponsors{
    img {
        width: 300px;
    }
}